html {
	margin: 1em;
	height: 1em;
}

body {
	background: #1A1514;
}

.skybg {
	margin: auto;
	border: 7px solid black;
}

.title	{
	font-family: 'IM Fell Great Primer', serif;
	background: hsla(194 ,55% ,59%, .5);
	position: absolute;
	top: 2em;
	left: 0;
	width: 100%;
	text-align: center;
}
