html {
	margin: 2em;
	height: 2em;

}

body {
  background: #a1a8a5;
	margin: center;


}

.skybg {
	border: 7px solid black;
	margin: center;
}

.title	{
	font-family: 'IM Fell Great Primer', serif;
	background: hsla(194 ,55% ,59%, .8);
	position: absolute;
	top: 6%;
	left: 0;
	width: 100%;
	text-align: center;
